.header {
  padding: 20px 0px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  text-decoration: none;
  font-family: "Dancing Script", sans-serif;
  color: var(--Gray-900, #132238);
  font-size: 42px;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  margin-left: 10px;
}

.header-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.header-item {
  margin-right: 48px;
}

.header-link:hover {
  color: #0fdede;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  border-bottom: 2px solid #0fdede;
  padding: 10px 0px;
  transition: 0.5s ease;
}

.header-link {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.header-linkcha {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: var(--Primary-500, #0fdede);
  text-decoration: none;
  color: var(--Gray-White, #FFF);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  box-shadow: 0px 0px 5px 5px #0fdede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

body {
  font-family: "Work Sans", sans-serif;
}

.hero {
  background: url(../img/BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.hero-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-span {
  color: #0fdede;
  font-family: "Dancing Script", sans-serif;
}

.hero-title {
  color: var(--Gray-900, #132238);
  font-size: 72px;
  font-weight: 600;
  line-height: 84px;
  margin-bottom: 24px;
}

.hero-text {
  color: #556070;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 648px;
  margin-bottom: 24px;
}

.hero-btn {
  border-radius: 4px;
  background: #0fdede;
  padding: 12px 24px;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 5px 5px #0fdede;
}

.hero-right-img {
  margin-top: -50px;
  width: 400px;
  margin-left: 20px;
}

.hero-right {
  width: 436px;
  height: 440px;
  flex-shrink: 0;
  background: white;
  box-shadow: 0px 24px 116px 0px rgba(43, 56, 76, 0.09);
  border-radius: 30px;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.hero-about-me {
  padding: 112px;
  border-radius: 16px;
  background: var(--Gray-White, #FFF);
  box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.1);
  margin-top: 222px;
  display: flex;
  align-items: center;
}

.aboutme-left {
  width: 420px;
  height: 448px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-50, #F0F1F3);
  background: #F0F1F3;
  position: relative;
}

.left-img {
  margin-top: -42px;
  width: 400px;
  margin-left: 13px;
}

.about-websites {
  position: absolute;
  padding: 12px;
  width: 250px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  bottom: -40px;
  background: white;
}

.about-right {
  margin-left: 130px;
}

.about-right-title {
  color: var(--Gray-900, #132238);
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 32px;
}

.about-right-text {
  color: var(--Gray-600, #556070);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.about-right-text2 {
  color: var(--Gray-600, #556070);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.about-link {
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--Primary-500, #0fdede);
  text-decoration: none;
  color: var(--Gray-White, #FFF);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 16px;
}

.about-btn {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--Primary-500, #0fdede);
  background: var(--Gray-White, #FFF);
  color: var(--Primary-500, #0fdede);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.about-websites img {
  width: 50px;
}

.portfolio {
  padding: 100px;
}

.portfolio-title {
  color: var(--Gray-900, #132238);
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-text {
  color: var(--Gray-400, #87909D);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 70px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
}

.box {
  width: 350px;
  height: 476px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid var(--Gray-100, #E6E8EB);
  background: var(--Gray-White, #FFF);
  box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
}

.box-img {
  width: 100%;
}

.grid-text {
  color: var(--Gray-400, #87909D);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-top: 32px;
}

.grid-ml {
  margin-left: 32px;
}

.grid-h3 {
  color: var(--Gray-900, #132238);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 12px;
}

.grid-link {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--Primary-500, #0fdede);
  background: var(--Gray-White, #FFF);
  margin-top: 20px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 173px;
  text-decoration: none;
  color: #0fdede;
}

.grid-link img {
  width: 24px;
}

.grid-text2 {
  color: var(--Gray-600, #556070);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.grid-link:hover {
  background: #0fdede;
  color: white;
  transition: 0.8s ease;
}

.idea {
  padding: 100px 0px;
  background: #132238;
  text-align: center;
}

.idea-title {
  color: var(--Gray-White, #FFF);
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 32px;
}

.idea-text {
  color: var(--Gray-300, #A5ACB5);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.idea-btn {
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--Primary-500, #0fdede);
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: none;
}

.section {
  padding: 150px 0px;
  background: #F0F1F3;
}

.does-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.does-title {
  color: #333;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 24px;
}

.does-text {
  color: var(--Gray-400, #87909D);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  width: 529px;
}

.does-btn {
  margin-top: 40px;
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--Primary-500, #0fdede);
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: none;
}

.does-right {
  margin-left: 100px;
}

.does-box {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 32px 96px 0px rgba(28, 25, 25, 0.16);
  padding: 32px;
  margin-bottom: 32px;
}

.does-box-title {
  color: var(--Gray-900, #0fdede);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 16px;
}

.does-box-text {
  color: var(--Gray-700, #424E60);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-left-title {
  color: var(--Gray-900, #132238);
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 16px;
}

.contact-left-text {
  color: var(--Gray-400, #87909D);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}

.left-addres {
  display: flex;
  padding: 24px;
}

.adres-right {
  margin-left: 13px;
}

.adres-h3 {
  color: #0c2a57;
}

.left-websites {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.websites-img {
  width: 24px;
  margin-left: 20px;
}

.contact-right-text {
  color: var(--Gray-400, #87909D);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 50px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
}

.contact-input {
  margin-bottom: 24px;
  border: none;
  outline: none;
  color: var(--Primary-500, #0fdede);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px solid #0fdede;
  width: 560px;
  padding: 20px;
}

.contact-input:active {
  border-bottom: 1px solid #0fdede;
}

.contact-btn {
  margin-top: 50px;
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--Primary-500, #0fdede);
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 141px;
  border: none;
}

footer {
  padding: 80px 0px;
  background: #2B384C;
}

.footer-logo {
  color: white;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  list-style: none;
  display: flex;
}

.footer-item {
  margin-left: 24px;
}

.footer-link {
  color: var(--Gray-50, #F0F1F3);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.footer-text {
  color: var(--Gray-White, #FFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}/*# sourceMappingURL=main.css.map */